<tr id="<%= dom_id friend %>">
  <th scope="row"><%= friend.first_name %></th>
  <td><%= friend.last_name %></td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.twitter %></td>
  <td><%= link_to "View", friend %> | <%= link_to "Edit", edit_friend_path(friend) %> | <%= link_to "Delete", friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
</tr>