<p style="color: green"><%= notice %></p>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= @friend.first_name %> <%= @friend.last_name %></h1>
    <p class="col-md-8 fs-4">
      Email: <%= @friend.email %> |
      Phone: <%= @friend.phone %> |
      Twitter: <%= @friend.twitter %>
    </p>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-primary btn-dark" %>
    <%= link_to "Back to friends", friends_path, class: "btn btn-secondary" %>
  </div>
</div>